body {
  background-color: darksalmon;
}

.fill {
  position: relative;
  top: 5px;
  left: 5px;
  width: 150px;
  height: 150px;
  background-image: url("https://picsum.photos/150/?random");
  cursor: pointer;
}

.empty {
  display: inline-block;
  margin: 10px;
  width: 160px;
  height: 160px;
  border: 3px salmon solid;
  background-color: #FFFFFF;
}

.hold {
  border: 4px solid lightgray;
}

.hovered {
  border-style: dashed;
}

.invisible {
  display: none;
}